@font-face {
	font-family: "Quicksand";
	src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/quicksand/quicksand-regular.woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/quicksand/quicksand-light.woff");
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: "Quicksand";
	src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/quicksand/quicksand-bold.woff");
	font-weight: bold;
	font-style: normal;
}

.quicksand,
.quicksand-regular { font-family: "Quicksand"; }
.quicksand-light { font-family: "Quicksand"; font-weight: 100; }
.quicksand-bold { font-family: "Quicksand"; font-weight: bold; }
