@font-face {
	font-family: "Varela Round";
	src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/varela-round/varela-round.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Varela Round";
	src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/varela-round/varela-round.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

.varela-round,
.varela-round-regular { font-family: "Varela Round"; }
.varela-round-bold { font-family: "Varela Round"; font-weight: bold; }
