@font-face {
  font-family: "Lato";
  src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-black.woff2") format("woff2"),
       url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

.lato-black { font-family: "Lato"; font-weight: 900; }
