@font-face {
  font-family: "Lato";
  src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-bold.woff2") format("woff2"),
       url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

.lato-bold { font-family: "Lato"; font-weight: bold; }
