@font-face {
  font-family: "Lato";
  src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-italic.woff2") format("woff2"),
       url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

.lato-italic { font-family: "Lato"; font-style: italic; }
