@font-face {
  font-family: "Lato";
  src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-regular.woff2") format("woff2"),
       url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.lato,
.lato-regular { font-family: "Lato"; }
