@font-face {
  font-family: "Lato";
  src: url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-light-italic.woff2") format("woff2"),
       url("https://lunchboxsessions.s3.amazonaws.com/fonts/lato/lato-light-italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

.lato-light-italic { font-family: "Lato"; font-weight: 300; font-style: italic; }
